@{
    ViewData["Title"] = "AnaSayfa";
}
<section class="gallery-grid">
    <h2>Lezzet Galerisi</h2>
    <p>Since 2025...</p>
    <div class="grid-container">
        <div class="item">
            <img src="~/img/corba.jpeg" alt="Çorba">
            <h3>Çorba Çeşitleri</h3>
            <ul>
                <li>Mercimek</li>
                <li>Tavuk Çorbası</li>
                <li>Tarhana</li>
                <li>Ezogelin</li>
            </ul>
        </div>
        <div class="item">
            <img src="~/img/pizza.jpeg" alt="Pizza">
            <h3>Pizza Çeşitleri</h3>
            <ul>
                <li>Napoliten</li>
                <li>Karışık</li>
                <li>Vegetarian</li>
                <li>Pepperoni</li>
            </ul>
        </div>
        <div class="item">
            <img src="~/img/kebap.jpeg" alt="Kebap">
            <h3>Kebap Çeşitleri</h3>
            <ul>
                <li>Adana</li>
                <li>Urfa</li>
                <li>Patlıcanlı</li>
                <li>Domatesli</li>
            </ul>
        </div>
        <div class="item">
            <img src="~/img/tavuk.jpeg" alt="Tavuk">
            <h3>Tavuk Çeşitleri</h3>
            <ul>
                <li>Izgara Tavuk</li>
                <li>Tavuk Şiş</li>
                <li>Tavuk Kanat</li>
                <li>Fırın Tavuk</li>
            </ul>
        </div>
        <div class="item">
            <img src="~/img/makarna.jpeg" alt="Makarna">
            <h3>Makarna Çeşitleri</h3>
            <ul>
                <li>Spagetti</li>
                <li>Fettucine</li>
                <li>Penne</li>
                <li>Tagliatelle</li>
            </ul>
        </div>
        <div class="item">
            <img src="~/img/baklava.jpeg" alt="Baklava">
            <h3>Baklava Çeşitleri</h3>
            <ul>
                <li>Cevizli</li>
                <li>Fıstıklı</li>
                <li>Şöbiyet</li>
                <li>Saray Sarması</li>
            </ul>
        </div>
    </div>
</section>